.item {
  background: var(--color-bg-grey);
  padding: var(--mobile-content-padding);
}

.title {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}

.description {
  display: block;
  line-height: 1.2em;
}
