.item {
  border-left: 1px solid var(--color-grey);
  padding-left: var(--mobile-content-padding);
}

.title {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
}

.description {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-grey);
  line-height: 1.2em;
}
