.item {
  background: var(--color-primary);
  display: inline-block;
  padding: calc(var(--mobile-content-padding) / 2) var(--mobile-content-padding);
  margin-right: calc(var(--mobile-content-padding) / 2);
  margin-bottom: calc(var(--mobile-content-padding) / 2);
  @media (min-width: 991px) {
    padding: calc(var(--mobile-content-padding) / 2)
      calc(var(--mobile-content-padding) * 2);
    display: inline-block;
  }
}

.item:active {
  background: var(--color-primary-darker);
}

.title {
  display: block;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0em;
  @media (min-width: 991px) {
    font-size: 1rem;
  }
}
