.intro-section {
  background: var(--color-dark-grey);
  color: #fff;
  margin: 0 -26px;
  padding: var(--mobile-site-padding) calc(var(--mobile-site-padding) + 26px);
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    margin-bottom: -14px;
    border-right: 13px solid var(--color-black);
    border-top: 7px solid var(--color-black);
    border-left: 13px solid transparent;
    border-bottom: 7px solid transparent;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    margin-bottom: -14px;
    border-right: 13px solid transparent;
    border-top: 7px solid var(--color-black);
    border-left: 13px solid var(--color-black);
    border-bottom: 7px solid transparent;
  }
}

.content {
  background: var(--color-bg-white);
  padding: var(--mobile-site-padding);
}

.number-box {
  padding: var(--mobile-site-padding);
  background: var(--color-black);
  margin-bottom: var(--mobile-content-padding);
  display: flex;
  align-items: center;
}
.number-box--icon {
  font-size: 1.5rem;
  line-height: 0;
  margin-right: calc(var(--mobile-content-padding) / 2);
}
.number-box--text {
  line-height: 0;
}
