.intro-section {
  background: var(--color-black);
  color: #fff;
  padding: 30px var(--mobile-site-padding);
  @media (min-width: 540px) {
    margin: 0 -26px;
    padding: 30px calc(var(--mobile-site-padding) + 26px);
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      bottom: 0;
      left: 0;
      margin-bottom: -14px;
      border-right: 13px solid var(--color-dark-grey);
      border-top: 7px solid var(--color-dark-grey);
      border-left: 13px solid transparent;
      border-bottom: 7px solid transparent;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      bottom: 0;
      right: 0;
      margin-bottom: -14px;
      border-right: 13px solid transparent;
      border-top: 7px solid var(--color-dark-grey);
      border-left: 13px solid var(--color-dark-grey);
      border-bottom: 7px solid transparent;
    }
  }
}

.content {
  background: var(--color-bg-white);
  padding: 1px var(--mobile-site-padding) 1px var(--mobile-site-padding);
}

.number-box {
  background: var(--color-dark-grey);
  display: flex;
  align-items: center;
}
.number-box-padding {
  margin-bottom: 4px;

  /* @media (min-width: 1200px) {
    margin-bottom: 0;
  } */
}
.number-box-padding-2 {
  margin-bottom: var(--mobile-content-padding);

  @media (min-width: 991px) {
    margin-bottom: 0;
  }
}
.number-box--icon {
  font-size: 1.5rem;
  line-height: 0;
  display: none;
  text-align: center;
  margin: calc(var(--mobile-content-padding) * 1.5);
  @media (min-width: 440px) {
    display: block;
  }
}
.number-box--text {
  line-height: 1.4em;

  padding: var(--mobile-content-padding);
  border-left: none;
  @media (min-width: 440px) {
    border-left: 4px solid var(--color-black);
  }
}

.section {
  margin-top: 1rem;
}


.collapser {
  transition: height 300ms;
}
.collapser-content {
  transition: opacity 200ms;
  transition-delay: 0ms;
  opacity: 0;
}
.collapser-content--open {
  opacity: 1;
  transition-delay: 300ms;
}

.collapse-button {
  border: none;
  /* border-bottom: 1px solid var(--color-grey); */
  outline: none;
  /* background-color: var(--color-bg-grey); */
  padding: 1em 1em 1em 1em;
  margin-left: -1em;
  /* width: 100%; */
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: var(--color-grey);
  font-size: 1.2rem;
  background-color: transparent;
}
.collapse-button:hover {
  background-color: var(--color-bg-grey);
}
.collapse-button > svg{
  margin-left: 1em;
  transition: all 150ms;
  transform: rotate(0deg);
}
.collapse-button--open > svg{
  transform: rotate(180deg);
}