.footer {
  background: var(--color-black);
  color: #fff;
  padding: 4rem 0;
  font-size: 0.8rem;
}
.cookie-link {
  background: var(--color-black);
  color: #fff;
  padding: 1rem 0;
  font-size: 0.8rem;
  text-align: center;
}
.content-padding {
  padding: 0 var(--mobile-site-padding);
}

.title {
  font-size: 1.6em;
  margin: 0 0 0.3em 0;
}

.left-content {
  margin: 0;
  line-height: 1.74em;
}
