.header {
  color: var(--color-black);
}
.background {
  width: 100%;
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
}

.content {
  padding: calc(var(--mobile-site-padding) * 3) var(--mobile-site-padding)
    calc(var(--mobile-site-padding) * 2);
}

.pre-site-title {
  font-family: var(--base-font-family);
  font-size: 1rem;
  margin: 0;
  @media (min-width: 540px) {
    font-size: 1.6rem;
  }
  @media (min-width: 960px) {
    font-size: 1.8rem;
  }
}

.site-title {
  font-family: var(--base-font-family);
  font-size: 1.8rem;
  color: var(--color-primary);
  font-weight: 600;
  margin: 0;
  @media (min-width: 540px) {
    font-size: 2rem;
  }
  @media (min-width: 960px) {
    font-size: 2.6rem;
  }
}
.site-title-uppsala {
  display: block;
  color: var(--color-black);
}
