.header {
  color: var(--color-black);
}
.background {
  width: 100%;
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
}

.content {
  padding: calc(var(--mobile-site-padding) * 3) var(--mobile-site-padding)
    calc(var(--mobile-site-padding) * 2);
}

.pre-site-title {
  font-family: var(--base-font-family);
  font-size: 1rem;
  margin: 0;
}

.site-title {
  font-family: var(--base-font-family);
  font-size: 1.8rem;
  color: var(--color-primary);
  font-weight: 600;
  margin: 0;
}
.site-title-uppsala {
  display: block;
  color: var(--color-black);
}
