:root {
  --base-font-family: "Source Sans Pro", sans-serif;

  --color-black: #222;
  --color-dark-grey: #2f2f2f;
  --color-grey: #929292;
  --color-primary: #e56343;
  --color-primary-darker: #cf3419;
  --color-bg-white: #fff;
  --color-bg-grey: #f7f7f7;

  --mobile-site-padding: 2rem;
  --mobile-content-padding: 1rem;

  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
}
